{
  "app": "Budgetmanager",
  "channel": "stable",
  "version": "0.2.3.0.0",
  "release_tag": "V0.2.3.0.0",
  "assets": {
    "windows": {
      "type": "portable",
      "url": "https://github.com/sloogy/Budgetmanager/releases/download/V0.2.3.0.0/Budgetmanager_latest_PORTABLE_win_x64.zip",
      "sha256": "PUT_SHA256_HERE"
    },
    "linux": {
      "type": "portable-source",
      "url": "https://github.com/sloogy/Budgetmanager/releases/download/V0.2.3.0.0/Budgetmanager_latest_PORTABLE_SLIM_SOURCE.zip",
      "sha256": "PUT_SHA256_HERE"
    }
  }
}
